.cursor {
    background-color: rgb(92, 92, 92);
    border-radius: 50%;
    height: 30px;
    position: fixed;
    width: 30px;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
}


@media  only screen and (max-width: 1200px) {
    .cursor {
        display: none;
    }
}   

