@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  height: 100vh;
  background: linear-gradient(90deg, rgba(var(--background-start-rgb), 1) 0%, rgba(var(--background-end-rgb), 1) 100%);
  color: rgb(var(--foreground-rgb));

}


/*  */

.type { display: block; font-family: monospace; white-space: nowrap; border-right: 4px solid; border-color: rgb(var(--foreground-rgb)); font-size: 3rem; width: 50ch; animation: typing 2s steps(12), blink .5s infinite step-end alternate; overflow:hidden; -webkit-animation: typing 2s steps(12), blink .5s infinite step-end alternate}

@keyFrames typing {
from { width: 0}
}



@keyFrames blink {
 50% { border-color: transparent}
} 

/*  */



@media  only screen and (max-width: 1200px) {
  body {
      cursor: pointer;
  }
}   

